:root {
  /* ::::: COLORS ::::: */

  --primary-color: #ba5834;
  --secondary-color: #f8e9dd;
  --third-color: #376775;
  --four-color: #a2b4c0;
  --five-color: #f4ac94;

  /* :::::: TYPOGHRAPHY ::::: */

  --fs-1: 1.5rem;
  --fs-2: 1.3rem;
  --fs-3: 1.25rem;
  --fs-4: 1.1rem;
  --fs-5: 1rem;
  --fs-6: 0.9rem;
  --fs-7: 0.8rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --z-fixed: 100;
  --z-modal: 200;
  /* ::::: BORDER-RADIUS ::::: */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /* ::::: TRANSITION ::::: */

  --transition-timing: 0.2s ease;
}

/* ::::: RESET CSS ::::: */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  background-color: transparent;
  user-select: none;
  border: none;
  cursor: pointer;
}

html {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

/* ::::: GLOBAL ::::: */
.section {
  padding: 2px 0 1px;
}

.section-title,
.container {
  max-width: 1024px;
  margin: 0 1rem;
}

/* ::::: LOADER ::::: */
span {
  display: inline-block;
  margin-top: -30px;
  font-size: 45px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.loader {
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.circle--1 {
  animation: moveUpAndDown 1s ease-in-out infinite;
}

.circle--2 {
  animation: moveUpAndDown 1s ease-in-out 0.4s infinite;
}

.circle--3 {
  animation: moveUpAndDown 1s ease-in-out 0.6s infinite;
}

@keyframes moveUpAndDown {
  0%,
  75%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }
}

.header-top {
  padding: auto;
  font-size: var(--fs-5);
  justify-content: center;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--third-color);
}

/* ::::: HEADER ::::: */

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: var(--z-fixed);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.3);
}

.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 160px;
  height: 40px;
}

.btn-menu,
.btn-bag {
  color: var(--primary-color);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    bottom: 60px;
    left: -100%;
    width: 100%;
    height: calc(max-content - 60px);
    padding: 2rem 0 1rem;
    background-color: var(--third-color);
    z-index: var(--z-fixed);
    transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
  }
}

.nav-menu .btn-close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2rem;
  height: 2rem;
  color: var(--secondary-color);
  font-size: 20px;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-bag {
  position: relative;
}

.notify {
  position: absolute;
  top: 20px;
  right: -13px;
  width: 20px;
  height: 20px;
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* ::::: SHOW MENU ::::: */
.show-menu {
  left: 0;
}

/* ::::: PRODUCTS ::::: */
